[user]
    name = Gabriel F. Vilar
    email = cogumm@gmail.com
    signingkey = Gabriel F. Vilar <cogumm@gmail.com>

[github]
    user = cogumm
    token = 85d2ae434b7a2371593ac5e7934fdd0a

[merge]
    #tool = meld
    tool = diffuse

[status]
    relativePaths = true
    showUntrackedFiles = no

[rerere]
    enabled = true

[diff]
    tool = diffuse
    suppressBlankEmpty = true
    mnemonicprefix = true
    #noprefix = true

[branch]
    autosetuprebase = always

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    ui = auto
    pager = false
    
[color "branch"]
    current = yellow reverse
     local = yellow
    remote = green
    
[color "status"]
    added = green
    changed = yellow
    untracked = cyan
    
[color "interactive"]
    error = cyan
    header = yellow
    
[color "diff"]
    meta = yellow bold
    frag = magenta
    plain = white bold
    old = red bold
    new = green bold
    commit = yellow bold
    func = green dim
    #plain = white bold
[alias]
    b = branch
    ca = commit --amend
    ci = commit
    co = checkout
    dw = diff --word-diff
    fl = log -p
    lg = log --oneline --decorate
    sb = status -sb
    sh = !git-sh
    st = status
    who = shortlog -s --
